.colors  {
    color:#0B2447;
    color: #19376D;
    color: #576CBC;
    color:#A5D7E8;
}

body{
    background: #A5D7E8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Share Tech Mono', monospace;
    color: #0B2447;
    flex-direction: column;
}

.calculator{
    width: 400px;
    border: 3px solid #0B2447;
    margin: 3vh 0vh;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 20px;
    background: #576CBC;
    flex-basis: 350px;
}

.screen{
    border: 3px solid #0B2447;
    border-radius: 8px;
    word-break: break-all;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background:#A5D7E8;
    margin-bottom: 20px;
}

.history{
    flex-grow: 1;
    font-size: 1.5rem;
}

.current{
    flex-grow: 3;
    font-size: 2.5rem;
    font-weight: bold;
}

.btn{
    background: #A5D7E8;
    width: 70px;
    height: 70px;
    border: 2px solid #0B2447;
    border-radius: 8px;
    font-size: 1.4em;
    transition: 0.3s;
    cursor: pointer;
    font-family: 'Share Tech Mono', monospace;
    color: #0B2447;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:.5em;
}

.btn:hover{
    background-color: #19376D;
    color: white;
}

.clear{
    background: #A5D7E8;
    width: 160px;
    height: 50px;
    border: 2px solid #0B2447;
    border-radius: 8px;
    font-size: 1.4em;
    transition: 0.3s;
    cursor: pointer;
    font-family: 'Share Tech Mono', monospace;
    color: #0B2447;
}

.clear:hover{
    background-color: #19376D;
    color: white;
}

footer{
    text-align: center;
}

a{
    color: #0B2447;
    cursor: pointer;
}

a:visited{
    color: #0B2447;
}